@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600);
*{
list-style: none;
text-decoration: none;
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Lato, Helvetica, sans-serif;
}
body{
background: rgb(245,245,245);
}
.menu .sidebar{
background: rgb(90,101,234); position: fixed;
top: 0;
left: 0;
width: 225px;
height: 100%;
padding: 20px 0;
transition: all 0.5s ease;
}
.menu .sidebar .profile{ margin-bottom: 30px; text-align: center;
}
.menu .sidebar .profile img{ display: block;
width: 100px;
height: 100px; border-radius: 50%; margin: 0 auto;
}
.menu .sidebar .profile h3{ color: #ffffff;
margin: 10px 0 5px;
}
.menu .sidebar .profile p{ color: rgb(206, 240, 253); font-size: 14px;
margin: 10px 0 5px;
}
.menu .sidebar .profile h6{ color: rgb(206, 240, 253); font-size: 10px;
}
.menu .sidebar ul li a{
display: block;
padding: 13px 30px; border-bottom: 2px solid rgb(201,203,235); color: rgb(241, 237, 237); font-size: 16px;
position: relative; 
}
#Home,#Volver{
margin-top: 20px;   /*Why doesn't it apply to the first child only?*/
border-top: 2px solid rgb(201,203,235);
}

.menu .sidebar ul li a .icon{ color: #dee4ec;
width: 30px;
display: inline-block;
}

.menu .sidebar ul li a:hover,
.menu .sidebar ul li a.active{
color: rgb(255, 255, 255);
background: rgb(73, 82, 189);
}
.menu .sidebar ul li a:hover .icon,
.menu .sidebar ul li a.active .icon{
color: rgb(255, 255, 255);
}
.menu .sidebar ul li a:hover:before,
.menu .sidebar ul li a.active:before{
display: block;
}
#home{
    border-right: 2px solid rgb(5, 41, 104);    /*Esto no Fuciona*/
}


#Banner_Index{  /*================================================== Index CSS ==================================================*/
    display: block;
    border-radius: 15px;
    border-style: solid;
    border-width: 7px;
    border-color: rgb(90,101,234) rgb(90,101,234) rgb(73, 82, 189) rgb(73, 82, 189);
    margin: 17px 242px; /*225px sidebar*/
    width: 1180px;
    height: 100px;
    background: rgb(90,101,234);
}
#Content_Index{
    display: block;
    border-radius: 15px;
    border-style: solid;
    border-width: 5px;
    border-color:rgb(73, 82, 189);
    margin: 17px 242px; /*225px sidebar*/
    width: 1180px;
    height: 763px;
    background: rgb(90,101,234);
}
#Content_Index p{
    color: #dee4ec;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: justify;
    padding: 40px;
}
#Banner_About{  /*=== About CSS ===*/
    display: block;
    border-radius: 15px;
    border-style: solid;
    border-width: 7px;
    border-color: rgb(90,101,234) rgb(90,101,234) rgb(73, 82, 189) rgb(73, 82, 189);
    margin: 17px 242px; /*225px sidebar*/
    width: 1180px;
    height: 100px;
    background: rgb(90,101,234);
}
#icon_About{
    color: #dee4ec;
}
#item_About{
    color: #dee4ec;
    font-family: "Times New Roman", Times, serif; /*Esto no funciona*/
    font-size: 70; /*ENF*/
}
#Content_About_Box1{
    display: block;
    border-radius: 15px;
    border-style: solid;
    border-width: 5px;
    border-color:rgb(73, 82, 189);
    margin: 17px 242px; /*225px sidebar*/
    width: 1180px;
    height: 1600px;
    background: rgb(90,101,234);
}
#Banner_About{  /*================================================== About Me CSS ==================================================*/
    display: block;
    border-radius: 15px;
    border-style: solid;
    border-width: 7px;
    border-color: rgb(90,101,234) rgb(90,101,234) rgb(73, 82, 189) rgb(73, 82, 189);
    margin: 17px 242px; /*225px sidebar*/
    width: 1180px;
    height: 100px;
    background: rgb(90,101,234);
}
#item_About{
    text-align: center;
    color: #dee4ec;
    font-family: "Times New Roman", Times, serif; /*Esto no funciona*/
    font-size: 70px; /*ENF*/
}
#Content_About_Box1{
    display: block;
    border-radius: 15px;
    border-style: solid;
    border-width: 5px;
    border-color:rgb(73, 82, 189);
    margin: 17px 242px; /*225px sidebar*/
    width: 1180px;
    height: 100px;
    background: rgb(90,101,234);
}
#Content_About_Box1 p{
    color: #dee4ec;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    text-align: left;
    padding: 12px;
}
#Content_About_Box2{
    display: block;
    float: left;
    border-radius: 15px;
    border-style: solid;
    border-width: 5px;
    border-color:rgb(73, 82, 189);
    margin-left: 242px;
    margin-bottom: 10px;
    width: 590px;
    height: 300px;
    background: rgb(90,101,234);
    padding: 50px;
}
#Content_About_Box2 img{
    height: 200px;
    width: 400px;
}
#Content_About_Box3{
    display: block;
    float: right;
    border-radius: 15px;
    border-style: solid;
    border-width: 5px;
    border-color:rgb(73, 82, 189);
    margin-bottom: 10px;
    margin-right: 17px;
    width: 573px;
    height: 300px;
    background: rgb(90,101,234);
    padding: 50px;
}
#Content_About_Box3 img{
    height: 200px;
    width: 350px;
}
#Content_About_Box4{
    float: left;
    display: block;
    border-radius: 15px;
    border-style: solid;
    border-width: 5px;
    border-color:rgb(73, 82, 189);
    margin: 17px 242px; /*225px sidebar*/
    width: 1180px;
    height: 150px;
    background: rgb(90,101,234);
}
#Content_About_Box4 p{
    color: #dee4ec;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    text-align: left;
    padding: 12px;
}
#Content_About_Box5{
    float: left;
    display: block;
    border-radius: 15px;
    border-style: solid;
    border-width: 5px;
    border-color:rgb(73, 82, 189);
    margin: 17px 242px; /*225px sidebar*/
    width: 1180px;
    height: 200px;
    background: rgb(90,101,234);
}
#Content_About_Box5 div{
    color: #dee4ec;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: left;
    padding: 12px;
}
#Content_About_Title2{
float: left;
    display: block;
border-radius: 15px;
border-style: solid;
border-width: 5px;
border-color:rgb(73, 82, 189);
margin: 10px 242px; /*225px sidebar*/
width: 1180px;
height: 50px;
background: rgb(90,101,234);
}
#Content_About_Title2 p{
    color: #dee4ec;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    padding: 12px;
}
#Content_About_Box6{
    float: left;
    display: block;
    border-radius: 15px;
    border-style: solid;
    border-width: 5px;
    border-color:rgb(73, 82, 189);
    margin: 17px 242px; /*225px sidebar*/
    width: 1180px;
    height: 750px;
    background: rgb(90,101,234);
}
#Content_About_Box6 img{
    height: 600px;
    width: 700px;
    margin: 50px;
    margin-left: 250px;
}






#Banner_Topic{  /*================================================== Topic CSS ==================================================*/
    display: block;
    border-radius: 15px;
    border-style: solid;
    border-width: 7px;
    border-color: rgb(90,101,234) rgb(90,101,234) rgb(73, 82, 189) rgb(73, 82, 189);
    margin: 17px 242px; /*225px sidebar*/
    width: 1180px;
    height: 100px;
    background: rgb(90,101,234);
}
#item_Topic p{
    color: #dee4ec;
    font-family: "Times New Roman", Times, serif; /*ENF*/
    font-size: 70px;
    padding-left: 492px;
}
#Content_Topic p{
    color: #dee4ec;
    font-family: "Times New Roman", Times, serif; /*ENF*/
    font-size: 28px;
    text-align: center;
}

#Content_Topic_Title1{
    display: block;
    border-radius: 15px;
    border-style: solid;
    border-width: 5px;
    border-color:rgb(73, 82, 189);
    margin: 10px 242px; /*225px sidebar*/
    width: 1180px;
    height: 35px;
    background: rgb(90,101,234);
}
#Content_Topic_Title1 p{
    color: #dee4ec;
    text-align: center;
    font-size: 22px;
}
#Content_Topic_box1{
    display: block;
    float: left;
    border-radius: 15px;
    border-style: solid;
    border-width: 5px;
    border-color:rgb(73, 82, 189);
    margin-left: 242px;
    margin-bottom: 10px;
    width: 1180px;
    height: 530px;
    background: rgb(90,101,234);
    padding: 50px;
}
#Content_Topic_box1 p{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
}
#Content_Topic_box2{
    display: block;
    float: left;
    border-radius: 15px;
    border-style: solid;
    border-width: 5px;
    border-color:rgb(73, 82, 189);
    margin-left: 242px;
    margin-bottom: 10px;
    width: 590px;
    height: 530px;
    background: rgb(90,101,234);
    padding: 50px;
}
#Content_Topic_box2 img{
    height: 400px;
    width: 500px;
}
#Content_Topic_box3{
    display: block;
    float: right;
    border-radius: 15px;
    border-style: solid;
    border-width: 5px;
    border-color:rgb(73, 82, 189);
    margin-bottom: 10px;
    margin-right: 17px;
    width: 573px;
    height: 530px;
    background: rgb(90,101,234);
    padding: 50px;
}
#Content_Topic_box3 p{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px;
}
#Content_Topic_box4{
    display: block;
    float: left;
    border-radius: 15px;
    border-style: solid;
    border-width: 5px;
    border-color:rgb(73, 82, 189);
    margin-left: 242px;
    margin-bottom: 10px;
    width: 590px;
    height: 530px;
    background: rgb(90,101,234);
    padding: 50px;
}
#Content_Topic_box4 img{
    height: 400px;
    width: 500px;
}
#Content_Topic_box5{
    display: block;
    float: right;
    border-radius: 15px;
    border-style: solid;
    border-width: 5px;
    border-color:rgb(73, 82, 189);
    margin-bottom: 10px;
    margin-right: 17px;
    width: 573px;
    height: 530px;
    background: rgb(90,101,234);
    padding: 50px;
}
#Content_Topic_box5 p{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px;
}
#Content_Topic_box6{
    display: block;
    float: left;
    border-radius: 15px;
    border-style: solid;
    border-width: 5px;
    border-color:rgb(73, 82, 189);
    margin-left: 242px;
    margin-bottom: 10px;
    width: 1180px;
    height: 250px;
    background: rgb(90,101,234);
    padding: 50px;
    color: #dee4ec;
}
#Content_Topic_box6 p{
    color: #dee4ec;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
}






#Banner_Degree{  /*================================================== Degree CSS ==================================================*/
    display: block;
    border-radius: 15px;
    border-style: solid;
    border-width: 7px;
    border-color: rgb(90,101,234) rgb(90,101,234) rgb(73, 82, 189) rgb(73, 82, 189);
    margin: 17px 242px; /*225px sidebar*/
    width: 1180px;
    height: 100px;
    background: rgb(90,101,234);
}
#item_Degree p{
    color: #dee4ec;
    font-family: "Times New Roman", Times, serif; /*ENF*/
    font-size: 70px;
    padding-left: 492px;
}
#Content_Degree p{
    color: #dee4ec;
    font-family: "Times New Roman", Times, serif; /*ENF*/
    font-size: 28px;
    text-align: center;
    padding-top: 28px;
    padding-left: 40px;
}
#Content_Degree_Title1,#Content_Degree_Title2,#Content_Degree_Title3,#Content_Degree_Title4,#Content_Degree_Title5{
    display: block;
    border-radius: 15px;
    border-style: solid;
    border-width: 5px;
    border-color:rgb(73, 82, 189);
    margin: 10px 242px; /*225px sidebar*/
    width: 1180px;
    height: 35px;
    background: rgb(90,101,234);
}
#Content_Degree_Title1 p,#Content_Degree_Title2 p,#Content_Degree_Title3 p,#Content_Degree_Title4 p,#Content_Degree_Title5 p{
    padding-top: 0px;
    padding-bottom: 5px;
}
#Content_Degree_Box1, #Content_Degree_Box2, #Content_Degree_Box4, #Content_Degree_Box5, #Content_Degree_Box6, #Content_Degree_Box7, #Content_Degree_Box8, #Content_Degree_Box9, #Content_Degree_Box10, #Content_Degree_Box11, #Content_Degree_Box12, #Content_Degree_Box13, #Content_Degree_Box14,#Content_Degree_Box15,#Content_Degree_Box16,#Content_Degree_Box17,#Content_Degree_Box18,#Content_Degree_Box19,#Content_Degree_Box20,#Content_Degree_Box21,#Content_Degree_Box22,#Content_Degree_Box23,#Content_Degree_Box24,#Content_Degree_Box25,#Content_Degree_Box26,#Content_Degree_Box27,#Content_Degree_Box28,#Content_Degree_Box29,#Content_Degree_Box30,#Content_Degree_Box31,#Content_Degree_Box32,#Content_Degree_Box33,#Content_Degree_Box34,#Content_Degree_Box35,#Content_Degree_Box36,#Content_Degree_Box37,#Content_Degree_Box38,#Content_Degree_Box39,#Content_Degree_Box40,#Content_Degree_Box41,#Content_Degree_Box42,#Content_Degree_Box43,#Content_Degree_Box44,#Content_Degree_Box45,#Content_Degree_Box46,#Content_Degree_Box47,#Content_Degree_Box48,#Content_Degree_Box49,#Content_Degree_Box50,#Content_Degree_Box51,#Content_Degree_Box52,#Content_Degree_Box53,#Content_Degree_Box54,#Content_Degree_Box55,#Content_Degree_Box56,#Content_Degree_Box57,#Content_Degree_Box58,#Content_Degree_Box59,#Content_Degree_Box60,#Content_Degree_Box61,#Content_Degree_Box62,#Content_Degree_Box63,#Content_Degree_Box64,#Content_Degree_Box65,#Content_Degree_Box66{
    display: block;
    border-radius: 15px;
    border-style: solid;
    border-width: 5px;
    border-color:rgb(73, 82, 189);
    margin: 10px 242px; /*225px sidebar*/
    width: 1180px;
    height: 80px;
    background: rgb(90,101,234);
}
#Content_Degree_Box3{
    display: block;
    border-radius: 15px;
    border-style: solid;
    border-width: 5px;
    border-color:rgb(73, 82, 189);
    margin: 10px 242px; /*225px sidebar*/
    width: 1180px;
    height: 100px;
    background: rgb(90,101,234);
}
#Content_Degree_Box3 div{
    float: left;
} 
#Content_Degree_Box3 p{
    padding-left: 375px;
}   
#Content_Degree_Box3 button{
    float: right;
    background-color: rgb(90,101,234);
    color: rgb(245,245,245);
    font-size: 15px;
    padding: 35px 35px;
    border: 4px solid rgb(73, 82, 189);
    border-radius: 8px;
    margin-left: 200px;
    margin-top: 5px;
    width: 35px;
    height: 35px;
}
#Content_Degree_Box3 button:hover{
    background-color: rgb(73, 82, 189);
    border-color: rgb(90,101,234);
}    
#Banner_FCE{  /*================================================== FCE CSS ==================================================*/
    display: block;
    border-radius: 15px;
    border-style: solid;
    border-width: 7px;
    border-color: rgb(90,101,234) rgb(90,101,234) rgb(73, 82, 189) rgb(73, 82, 189);
    margin: 17px 242px; /*225px sidebar*/
    width: 1180px;
    height: 100px;
    background: rgb(90,101,234);
}
#item_FCE p{
    color: #dee4ec;
    font-family: "Times New Roman", Times, serif; /*ENF*/
    font-size: 70px;
    padding-left: 435px;
}
#Content_FCE{
    color: #dee4ec;
}
#Content_FCE_Title1{
    display: block;
    border-radius: 15px;
    border-style: solid;
    border-width: 5px;
    border-color:rgb(73, 82, 189);
    margin: 10px 242px; /*225px sidebar*/
    width: 1180px;
    height: 35px;
    background: rgb(90,101,234);
}
#Content_FCE_Title1 p{
    color: #dee4ec;
    text-align: center;
    font-size: 22px;
}
#Content_FCE_box1,#Content_FCE_box2,#Content_FCE_box3{
    display: block;
    float: left;
    border-radius: 15px;
    border-style: solid;
    border-width: 5px;
    border-color:rgb(73, 82, 189);
    margin-left: 242px;
    margin-bottom: 10px;
    width: 1180px;
    height: 700px;
    background: rgb(90,101,234);
    padding: 50px;
}
#Content_FCE_box1{
    height: 220px;
}
#Content_FCE_box2{
    height: 450px;
}
#Content_FCE_box3{
    height: 1100px;
}
#Content_FCE_box1 p{
    color: #dee4ec;
    text-align: justify;
}
#Content_FCE_box2 li,#Content_FCE_box3 li{
padding-left: 35px;
padding-top: 10px;
padding-bottom: 10px;
text-align: left;
}

#Banner_Contact{  /*================================================== Contact CSS ==================================================*/
    display: block;
    border-radius: 15px;
    border-style: solid;
    border-width: 7px;
    border-color: rgb(90,101,234) rgb(90,101,234) rgb(73, 82, 189) rgb(73, 82, 189);
    margin: 17px 242px; /*225px sidebar*/
    width: 1180px;
    height: 100px;
    background: rgb(90,101,234);
}
#item_Contact p{
    color: #dee4ec;
    font-family: "Times New Roman", Times, serif; /*ENF*/
    font-size: 70px;
    padding-left: 400px;
}
#Content_Contact_Box1{
    display: block;
    float: left;
    border-radius: 15px;
    border-style: solid;
    border-width: 5px;
    border-color:rgb(73, 82, 189);
    margin-left: 242px; /*225px sidebar*/
    margin-bottom: 10px;
    width: 1180px;
    height: 320px;
    background: rgb(90,101,234);
}
#Content_Contact_Box1 img{
    width: 521px;
    height: 300;
    margin-top: 5px;
    margin-left: 7px;
    border-radius: 40px;
    float: left;
}
#Content_Contact_Box1 p{    /*ENF*/
    color: #dee4ec;
    font-size: 22px;
    text-align: justify;
    padding: 50px;
    padding-left: 600px;
}
#Content_Contact_Box1_p{    /*ENF*/
}
#Content_Contact_Box2{
    display: block;
    float: right;
    border-radius: 15px;
    border-style: solid;
    border-width: 5px;
    border-color:rgb(73, 82, 189);
    margin-right: 17px; /*225px sidebar*/
    margin-bottom: 10px;
    width: 582px;
    height: 150px;
    background: rgb(90,101,234);
}
#Content_Contact_Box2 div{
    color: #dee4ec;
}
#Content_Contact_Box2 i,#Content_Contact_Box3 i,#Content_Contact_Box4 i,#Content_Contact_Box5 i{
    float: left;
    padding-top: 45px;
    padding-left: 30px;
}
#Content_Contact_Box2 p,#Content_Contact_Box3 p,#Content_Contact_Box4 p,#Content_Contact_Box5 p{
    font-size: 20px;
    float: right;
    padding-top: 60px;
    padding-right: 90px;
    text-align: center;
}
#Content_Contact_Box3 p{
    padding-right: 175px;
}
#Content_Contact_Box3{
    display: block;
    float: left;
    border-radius: 15px;
    border-style: solid;
    border-width: 5px;
    border-color:rgb(73, 82, 189);
    margin-left: 242px; /*225px sidebar*/
    margin-bottom: 10px;
    width: 582px;
    height: 150px;
    background: rgb(90,101,234);
}
#Content_Contact_Box3 div{
    color: #dee4ec;
}
#Content_Contact_Box4{
    display: inline-block;
    border-radius: 15px;
    border-style: solid;
    border-width: 5px;
    border-color:rgb(73, 82, 189);
    margin-left: 242px; /*225px sidebar*/
    margin-bottom: 10px;
    width: 582px;
    height: 150px;
    background: rgb(90,101,234);
}
#Content_Contact_Box4 div{
    color: #dee4ec;
} 
#Content_Contact_Box5{
    display: block;
    float: right;
    border-radius: 15px;
    border-style: solid;
    border-width: 5px;
    border-color:rgb(73, 82, 189);
    margin-right: 17px; /*225px sidebar*/
    margin-bottom: 10px;
    width: 582px;
    height: 150px;
    background: rgb(90,101,234);
}
#Content_Contact_Box5 div{
    color: #dee4ec;
}  


#Banner_Net{  /*================================================== Net CSS ==================================================*/
    display: block;
    border-radius: 15px;
    border-style: solid;
    border-width: 7px;
    border-color: rgb(90,101,234) rgb(90,101,234) rgb(73, 82, 189) rgb(73, 82, 189);
    margin: 17px 242px; /*225px sidebar*/
    width: 1180px;
    height: 100px;
    background: rgb(90,101,234);
}
#item_Net{
    color: #dee4ec;
    font-family: "Times New Roman", Times, serif;
    font-size: 70; /*ENF*/
}
#item_Net p{
    color: #dee4ec;
    font-family: "Times New Roman", Times, serif;
    font-size: 70px;
    padding-left: 466px;
}
#Content_Net_Box1{
    display: block;
    border-radius: 15px;
    border-style: solid;
    border-width: 5px;
    border-color:rgb(73, 82, 189);
    margin: 17px 242px; /*225px sidebar*/
    width: 1180px;
    height: 243px;
    background: rgb(90,101,234);
}
#Content_Net_Box1 img{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    margin-top: 33px;
    margin-left: 40px;
    float: left;
}
#Content_Net_Box2{
    display: block;
    border-radius: 15px;
    border-style: solid;
    border-width: 5px;
    border-color:rgb(73, 82, 189);
    margin: 17px 242px; /*225px sidebar*/
    width: 1180px;
    height: 243px;
    background: rgb(90,101,234);
}
#Content_Net_Box2 img{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    margin-top: 33px;
    margin-left: 40px;
    float: left;
}
#Content_Net_Box3{
    display: block;
    border-radius: 15px;
    border-style: solid;
    border-width: 5px;
    border-color:rgb(73, 82, 189);
    margin: 17px 242px; /*225px sidebar*/
    width: 1180px;
    height: 243px;
    background: rgb(90,101,234);
}
#Content_Net_Box3 img{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    margin-top: 33px;
    margin-left: 40px;
    float: left;
}
#Content_Net_Box1 p{
    float: right;
    color: #dee4ec;
    font-family: "Times New Roman", Times, serif; /*ENF*/
    font-size: 23px;
    margin-top: 100px;
    margin-right: 120px;
}
#Content_Net_Box2 p{
    float: right;
    color: #dee4ec;
    font-family: "Times New Roman", Times, serif; /*ENF*/
    font-size: 23px;
    margin-top: 100px;
    margin-right: 190px;
}
#Content_Net_Box3 p{
    float: right;
    color: #dee4ec;
    font-family: "Times New Roman", Times, serif; /*ENF*/
    font-size: 23px;
    margin-top: 100px;
    margin-right: 257px;
}